mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="Digite aqui suas militâncias...")
            .buttonsContainer
                button#submitPostButton(disabled="") Post 

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Responder
                    button#xCloseModal.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer 
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="User's profile picture")
                        .textareaContainer 
                            textarea#replyTextarea(placeholder="Digite aqui sua resposta...")
                .modal-footer
                    button#closeModal.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    button#submitReplyButton.btn.btn-primary(type='button', disabled="") Responder

mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Deletar postagem?
                    button#xCloseModal.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p Você não poderá excluir isso.
                .modal-footer
                    button#closeModal.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    button#deletePostButton.btn.btn-primary(type='button') Deletar

mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Seguindo" :"Seguir"
    - buttonClass = isFollowing ? "followButton following" :"followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin creatTab(name, href, isSelected)
    - className = isSelected ? "tab activetab" : "tab"
    a(href=href, class=className)
        span #{name}